* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#container {
	background-color: #bbb;

	width: 750px;

	display: grid;
	grid-template-columns: 200px 300px 100px 150px;
	grid-template-rows: 300px 300px 450px 100px;
	grid-template-areas:
		"h h h a"
		"m m m a"
		"m m m a"
		"f f f a";
}

#header {
	grid-area: h;

	background-color: blue;
}

#main {
	grid-area: m;

	background-color: yellow;
}

#aside {
	grid-area: a;

	background-color: lime;
}

#footer {
	grid-area: f;

	background-color: red;
}
