* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#container {
	min-height: 100vh;

	background-color: #bbb;

	display: grid;
	/* grid-template-columns: 4fr 1fr;
	grid-template-rows: 100px auto 100px;
	grid-template-areas:
		"h a"
		"m a"
		"f a"; */

	grid-template-columns: auto;
	grid-template-rows: minmax(100px, auto) 2fr 1fr minmax(100px, auto);
	grid-template-areas: 
		"h"
		"m"
		"a"
		"f";
}

#header {
	grid-area: h;

	background-color: blue;
}

#main {
	grid-area: m;

	background-color: yellow;
}

#aside {
	grid-area: a;

	background-color: lime;
}

#footer {
	grid-area: f;

	background-color: red;
}
